<section class="dashboard">
  <div class="column1">
    <h1 class="title">Bem-vindo ao <span class="text"> Dashboard</span></h1>
    <div class="graph-funcionario">

      <span class="func-nome">Funcionários</span>
      <span class="numeros-funcionarios">80</span>
    </div>
    <div class="graph-livros">
      <canvas baseChart
[data] = 'livrosDados'
[type] = "'pie'"
[options]= 'chartOptions'

>

</canvas>

    </div>
  </div>
  <div class="column2">
    <div class="criar-e-hora">
      <span class="time-text">{{time}}</span>

    </div>
   <div class="grafico-graus">
    <canvas baseChart
    [data] = 'grauAtividades'
    [type] = "'bar'"
    [options]= 'grauOptions'

    >

    </canvas>
   </div>

   <div class="grafico-generos">
    <canvas baseChart
    [data]="polarAreaChartData"
    [legend]="polarAreaLegend"
    [type]="polarAreaChartType">
  </canvas>
   </div>

  </div>
  </section>
