<section class="dashboard">
  <div class="column1">
    <h1>Bem-vindo ao <span class="text"> Dashboard</span></h1>
    <div class="graph-funcionario">
      <span>Funcionários</span>
      <div class="numeros-funcionarios">Números</div>
    </div>
    <div class="graph-livros">
      <span>Disponibilidade dos Livros</span>
      <div class="numeros-funcionarios">Números</div>
    </div>
  </div>
  <div class="column2">
    <div class="criar-e-hora">
      <span>Hora</span>
      <button>Cadastrar Funcionário</button>
    </div>
   <div class="grafico-graus">
     <span>bloco</span>
   </div>

   <div class="grafico-generos">
     <span>generos</span>
   </div>

  </div>
  </section>
