
@mixin organizableLayout
  display: flex
  flex-direction: column
  justify-content: space-between


.dashboard
  width: 125vh

  display: flex
  justify-content: space-between
  .column1
    height: 80vh
    @include organizableLayout

    .text
      font-weight: 700

  .column2
    @include organizableLayout


