.dashboard
  width: 125vh

  display: flex
  justify-content: space-between
  .column1
    height: 80vh
    display: flex
    flex-direction: column
    justify-content: space-between
    .text
      font-weight: 700
