<div class="dialog">
  <mat-form-field appearance="fill">
  <mat-label>Nome</mat-label>
  <input matInput>
</mat-form-field>
  <mat-form-field appearance="fill">
  <mat-label>E-mail</mat-label>
  <input matInput>
</mat-form-field>
  <mat-form-field appearance="fill">
  <mat-label>CPF</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Endereço</mat-label>
  <textarea matInput></textarea>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Prioridade</mat-label>
  <mat-select>
    <mat-option value="one">Administrador</mat-option>
    <mat-option value="two">Funcionário</mat-option>
  </mat-select>
</mat-form-field>
<button class="button-cadastrar">Salvar</button>
</div>
